body {

    background-color: #222222;


}

nav {

    width: 100%;
    height: auto;

    min-width: 600px;
    
    
    position: fixed;

    opacity: 0.75;

   /*background-color: blue;*/

}

.flexbox-con {

    display: flex;
    border-bottom: 5px solid rgb(62, 154, 73);

    min-height: 40px;

}

.flex {

    width: 200px;
    height: 40px;
    margin: 10px;
    /*background-color: rgb(182, 148, 102);*/
    border: 3px solid black;
}

.f1 {

    width: 65%;
    height: 100%;

}

h1 {

    margin-left: 100px;
}

.f2 {

    width: 35%;
    height: 100%;

}

.nav-link {

    text-decoration: none;
    font-size: 30px;
    margin-right: 30px;
}

.nav-link:hover {

    color: aliceblue;
}

.textbody{

    width: 800px;
    height: 2000px;

    margin: auto;
    width: 50%;

    background-color: red;
}

