/* --- ALL --- */
* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(22,22,22);

}


/* --- BODY --- */

.mainBody {
    display: flex;
    flex-direction: column;

    width: 80%;
    height: Auto;
    margin: auto;

    row-gap: 30px;
    column-gap: 20px;

    min-height: 30px;
    margin-top: 60px;

    background-color: rgb(76, 51, 51);
    
}

.mainBodyContent {
    width: 90%;
    height: 200px;

    margin: auto;

    border: 3px solid rgb(43, 255, 0);

    display: flex;
    flex-direction: row;

    /* border-bottom: 1px solid rgb(45, 45, 45);

    background-color: rgb(16, 53, 145); */
}


/* Post Image Box */
.mainBodyContent-imageBox-Flex {
    width: 50%;
    height: 100%;

    border: 3px solid rgb(83, 45, 221);

}

.mainBodyContent-image {
    width: 100%;
    height: 100%;

    margin: auto;

    border: 3px solid rgb(219, 124, 35);

}

/* Post Text Box */
.mainBodyContent-textBox-Flex {
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;

    border: 3px solid rgb(95, 33, 79);


}


.mainBodyContent-title {
    width: 100%;
    height: 30%;

    margin: auto;

    border: 3px solid blue;

}

.mainBodyContent-desc {
    width: 100%;
    height: 100%;

    margin: auto;
    
    border: 3px solid rgb(255, 0, 162);

}



p {

    color: aliceblue;
}

